*{
  margin: 0;
  padding: 0;
  font-family: "Pacifico", cursive;
}

:root{
  --primary-color:rgb(4, 128, 10);
  --text-color:white;
  --secondry-color:rgb(185, 248, 209);
}

body{
  background-color: var(--secondry-color);
}

ul li{
  list-style: none;
  display: inline;
  padding: 30px;
  font-weight: lighter;

}

ul li a{
  color: var(--text-color);
  text-decoration: none;
}

nav{
  background-color: var(--primary-color);
  padding: 12px 0px;
}

